<%- include('layouts/innerheader'); -%>

<body onload = "dateCheck()">
    <div style="height: 50px;">
       
    </div>
    <div>
        <h4 class="mt-4 mb-5" style="
        text-align: center;
        font-size: 58px;
    "><strong>Details</strong></h4>
    </div>
     
     <section class="py-5">
        <div class="container">
          <div class="row gx-5">
            <aside class="col-lg-6">
              <div class="border rounded-4 mb-3 d-flex justify-content-center"> 
                <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="/<%= art[0].art[0].image %>">
                  <img style="max-width: 100%; max-height: 200vh; margin: auto;" class="rounded-4 fit" src="/<%= art[0].art[0].image %>" />
                </a>
              </div>
              
              <!-- thumbs-wrap.// -->
              <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
              <div class="ps-lg-3">
                <h4 class="title text-dark">
                    <b><%= art[0].art[0].title %></b>
                </h4>
                
      
                <div class="mb-3">
                  <span class="h5">Base value: $<%= art[0].art[0].min_bid %></span>
                  <span class="text-muted"></span>
                </div>

                <div class="mb-3">
                    <span class="h5">Last Bid Amount: $<%= art[0].art[0].last_bid %></span>
                    <span class="text-muted"></span>
                  </div>
      
                <p class="desc">
                    <%= art[0].art[0].description %>
                </p>
      
                <div class="row">
                  <dt class="col-3">Start Date:</dt>
                  <dd class="col-9"><%= art[0].art[0].start_date %></dd>
      
                  <dt class="col-3">End Date</dt>
                  <dd class="col-9"><%= art[0].art[0].end_date %></dd>
      
                  <dt class="col-3">Posted By</dt>
                  <dd class="col-9"><%= art[0].art[0].userData[0].userName %></dd>
      
                </div>
      
                <hr />
                <% if (art[0].art[0].status != 'active') { %>
                <% if (logged_in_id != art[0].art[0].user_id) { %>
              <div class="col-md-12">
                <input id="bid_amount" placeholder="Bid Amount" type="number" name="bid_amount" onkeyup="success()" value = "" style="width: 60%;"">
                <h4 id="bidend" style="color:red;display: none;">Bidding Finished</h4>
                <input type="hidden" name="bidder" id="bidder" value="<%= art[0].art[0].last_bidder_id %>" />
                <input type="hidden" name="art_id" id="art_id" value="<%= art[0].art[0]._id %>" />
                <input type="hidden" name="logged_in" id="logged_in" value="<%= logged_in_id %>" />
                <input type="hidden" name="last_bid" id="last_bid" value="<%= art[0].art[0].last_bid %>" />
                <input type="hidden" name="cartData" id="cart" value="<%= cart.length %>" />
                <input type="hidden" name="StartDate" id="userdate" value="<%= art[0].art[0].end_date %> <%= art[0].art[0].end_time %>:00" />

              </div><br>

              <a  href="javascript:submitBid()" id="submitBid" class="btn btn-primary shadow-0 submitBid" style="pointer-events: none;margin-left:100px;"> Submit Bid </a>

              <% } %>


              <% if (logged_in_id == art[0].art[0].user_id) { %>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Bid History</button>

                <!-- <a href="#" class="btn btn-warning shadow-0" data-toggle="modal" data-target="#myModal"> Bidding History </a> -->
                
              <% } %>
              <!-- <button type="button" id="buy" style="display: none;" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#ignismyModal">Buy Now</button> -->

                <!-- <a href="#" id="buy" class="btn btn-warning shadow-0" style="display: none;" > Buy now </a> -->
                <a id="addcart" href="javascript:addToCart()" class="btn btn-primary shadow-0" style="display: none;"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>

                <div id="alreadyadded" style="display: none;"><h4>Already added to card </h4><a  href="/cart" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i>Go To Cart </a></div>\

                <% }else { %>

                    <h4 id="upcoming" style="color:red">Bidding Will be start soon!</h4>

                <% } %>
              </div>
            </main>
          </div>
        </div>
      </section>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Bid History</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <table>
                    <tr>
                      <th>User Name</th>
                      <th>Bid Amount</th>
                    </tr>
                <% biddingHistory[0].biddingHistory.forEach(history => { %>

                    
                        <tr>
                          <td><%= history.userData[0].userName %></td>
                          <td><%= history.bid_amount %></td>
                         
                        </tr>
                        
                      

                <% }) %>   
                
            </table>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ignismyModal" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                 </div>
      
                <div class="modal-body">
                   
        <div class="thank-you-pop">
          <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
          <h1>Thank You!</h1>
          <p>Your submission is received and we will contact you soon</p>
          <h3 class="cupon-pop">Your Id: <span>12345</span></h3>
          
         </div>
                     
                </div>
      
            </div>
        </div>
    </div>

      <script type="text/javascript">
        function dateCheck() {
            var ToDate = new Date();
            var UserDate = document.getElementById("userdate").value;
            var logged_in = document.getElementById("logged_in").value;
            var bidder = document.getElementById("bidder").value;
            var cart = document.getElementById("cart").value;


            console.log(bidder , logged_in)


            if (new Date(UserDate).getTime() <= ToDate.getTime()) {
                document.getElementById('bid_amount').style.display = "none"
                document.getElementById('submitBid').style.display = "none"
                document.getElementById('bidend').style.display = "block"
                if(bidder == logged_in){

                    if(cart == 0){
                      document.getElementById('addcart').style.display = "block"
                      document.getElementById('buy').style.display = "block"
                    }else{

                        document.getElementById('alreadyadded').style.display = "block"

                    }

                }


            }
            
        }

        function success() {
	 if(document.getElementById("bid_amount").value =="") { 
            document.getElementById('submitBid').style.pointerEvents = 'none'; 
        } else { 
            document.getElementById('submitBid').style.pointerEvents = '';
        }
    }

    function submitBid(e) {

        const bid_amount = parseInt(document.getElementById('bid_amount').value);
        const last_bid = parseInt(document.getElementById('last_bid').value);

        const product_id = document.getElementById('art_id').value;
        var ToDate = new Date();


        var UserDate = document.getElementById("userdate").value;

        if (new Date(UserDate).getTime() <= ToDate.getTime()) {
            alert('Bid duration is over. Please check other art works.');
        }

        else if(bid_amount <= last_bid){

           alert('Please enter bid amount greater than previous bid'); 
            
        }else{

            var form = $(this);
        // var actionUrl = form.attr('action');

        $.ajax({
            type: "POST",
            url: 'http://localhost:8081/submit-bid',
            data : {
                id : product_id,
                bid_amount : bid_amount,
                last_bid : last_bid // will be accessible in $_POST['data1']
            },
            success: function(data)
            {
              alert('Bid Submitted successfully.'); 

                document.getElementById('bid_amount').value = "";

                window.location.reload();
            }
        });

        }
       
}
    
function addToCart() {

const product_id = document.getElementById('art_id').value;

    var form = $(this);
// var actionUrl = form.attr('action');

$.ajax({
    type: "POST",
    url: 'http://localhost:8081/add-cart',
    data : {
        art_id : product_id,
    },
    success: function(data)
    {
      alert('Art Added to Cart.'); 

        window.location.assign('/cart');
    }
});

}


     </script>
</body>

<%- include('layouts/footer'); -%>