<%- include('layouts/innerheader'); -%>

<body>
    <div style="height: 50px;">
       
    </div>
    <div>
        <h4 class="mt-4 mb-5"><strong> My Arts</strong></h4>
    <section >
        <div class="text-center container py-5">            
          <div class="row">
            
            <% art[0].art.forEach(product => { %>
            <div class="col-lg-4 col-md-12 mb-4" style="background-color: #eee;display: inline-flex;">
              <div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                  <img src="<%= product.image %>"
                    class="image-show" />
                  <a href="#!">
                    <div class="mask">
                      <div class="d-flex justify-content-start align-items-end h-100">
                        
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                  </a>
                </div>
                <div class="card-body">
                  <a href="" class="text-reset">
                    <h5 class="card-title mb-3"><%= product.title %></h5>
                  </a>
                
                  <h6 class="mb-3">
                    <strong class="ms-2 text-danger"><%= product.description %></strong>
                  </h6>

                  <h6 class="mb-3">
                    <strong class="ms-2 text-danger"><%= product.min_bid %></strong>
                  </h6>
                </div>
              </div>
            </div><br><br>
            <% }) %>


      
           
          </div>
        </div>
      </section>
      </div>
</body>

<%- include('layouts/footer'); -%>