<%- include('layouts/innerheader'); -%>

<body>
    <div style="height: 50px;">
       
    </div>
    
        <h4 class="mt-4 mb-5" style="
        text-align: center;
        font-size: 88px;
    "><strong> My Arts</strong></h4>

        <div class="col-9"> 
           
            
        <!-- Code for viewing the Post -->
        <% art[0].art.forEach(product => { %>

            <div class="card" style="
            margin-left: 28%;
        "> 
                <div class="top"> 
                    <div class="userDetails"> 
                        <div class="profilepic"> 
                            <div class="profile_img"> 
                                <div class="image"> 
                                    <img src= 
"https://media.geeksforgeeks.org/wp-content/uploads/20220609093229/g-200x200.png"
                                        alt="img8"> 
                                </div> 
                            </div> 
                        </div> 
                        <h3>Ayush Agarwal 
                            <br> 
                            <span>Mumbai, India</span> 
                    </h3> 
                    </div> 
                    <div> 
                        <span class="dot"> 
                            <i class="fas fa-ellipsis-h"></i> 
                        </span> 
                    </div> 
                </div> 
                <div class="imgBx"> 
                    <img src="<%= product.image %>"
                    class="cover" />
                </div> 
                <div class="bottom"> 
                    
                   
                    <a href="#"> 
                        <p class="message"> 
                        <b><%= product.title %>i</b> 
                        </p> 

                    </a> 

                    <span href="#"> 
                        <p class="message"> 
                        <b><%= product.description %>i</b> 
                        </p> 

                    </span> 
                  
                </div> 
            </div> <br><br>

            <% }) %>
            
        </div> 

</body>

<%- include('layouts/footer'); -%>