<%- include('layouts/innerheader'); -%>


<body>
    <div style="height: 50px;">
       
    </div>
    <div>
        <h4 class="mt-4 mb-5" style="
        text-align: center;
        font-size: 58px;
    "><strong> My Arts</strong></h4>
    </div>
<div><a class="btn btn-primary" href="uploadart" role="button" style="
    float: right;
    margin-top: -103px;
    margin-right: 116px;
    /* margin: -100px; */
">Add Art</a></div>
     
     <% if(art[0].art.length > 0) { %>

        <div class="col-9"> 
           
            
        <!-- Code for viewing the Post -->
        <% art[0].art.forEach(product => { %>

            <div class="card" style="
            margin-left: 28%;
        "> 
                <div class="top"> 
                    <div class="userDetails"> 
                        <div class="profilepic"> 
                            <div class="profile_img"> 
                                <div class="image"> 
                                    <img src= 
                                    "<%= product.userData[0].profile_image %>"
                                        alt="img8"> 
                                    
                                </div> 
                            </div> 
                        </div> 
                        <h3><%= product.userData[0].userName %> 
                            <br> 
                            <span><%= product.userData[0].about %></span> 
                    </h3> 
                    </div> 
                    <% if(product.status == 'active') { %>
                    <a class="btn btn-primary" href="edit-art/<%= product._id %>" role="button">Edit</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="delete-art/<%= product._id %>" role="button">Delete</a>
                    <% } %>

                    
                    <!-- <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-mdb-toggle="dropdown-menu" aria-expanded="false">
                          Action
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                      </div> -->
                </div> 

                <div class="imgBx"> 
                    <img src="<%= product.image %>"
                    class="cover" />
                </div> 
                <div class="bottom"> 
                    
                   
                    <a href="#"> 
                        <p class="message"> 
                        <b><%= product.title %></b> 
                        </p> 

                    </a> 

                    <span> 
                        <p class="message"> 
                        <b><%= product.description %></b> 
                        </p> 

                    </span> 
                    <span> 
                        <p class="message"> 
                        <b>$<%= product.min_bid %></b> 
                        </p> 

                    </span> 
                    <span> 
                        <p class="message"> 
                        <b>Start Date & Time:</b> <%= moment(product.start_date).format('DD-MM-YYYY') %>  <%= product.start_time %>
                        </p> 
                    </span> 
                    <span> 
                        <p class="message"> 
                        <b>End Date & Time:</b> <%= moment(product.end_date).format('DD-MM-YYYY') %>  <%= product.end_time %>
                        </p> 
                    </span>  
                  
                </div> 
            </div> <br><br>

            <% }) %>
            
        </div> 
    <% } else { %>

        <div class="col-9 table-data"> </div>
    <% } %>
</body>

<%- include('layouts/footer'); -%>