<%- include('layouts/innerheader'); -%>

<body onload = "dateCheck()">
    <div style="height: 50px;">
       
    </div>
    <div>
        <h4 class="mt-4 mb-5" style="
        text-align: center;
        font-size: 58px;
    "><strong>Cart</strong></h4>
    </div>

      
    <section class="gradient-custom">
        <div class="container py-5">
          <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Cart - <%= cartLength %> items</h5>
                </div>
                <div class="card-body">
                  <!-- Single item -->
                  <% cart[0].cart.forEach(product => { %>

                    <!-- <input type="hidden" name="art_id" id="art_id" value="<%= cart[0].cart[0].art_id %>" />
                    <input type="hidden" name="logged_in" id="logged_in" value="<%= cart[0].cart[0].user_id %>" />
     -->

                  <div class="row">
                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                      <!-- Image -->
                      <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                        <img src="<%= product.artData[0].image %>"
                          class="w-100" alt="Blue Jeans Jacket" />
                          <br>
                       
                      </div>

                      <a href="#!">
                        <a class="btn btn-danger" href="remove-cart/<%= product.art_id %>" role="button" style="
                          margin-top: 24px;
                      ">Remove</a>
                      </a>
                      <!-- Image -->
                    </div>
      
                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                      <!-- Data -->
                      <p style="color: black;"><strong><%= product.artData[0].title %></strong></p>
                      <p style="color: black;"><%= product.artData[0].description %></p>
                      <p style="color: black;">Amount : $<%= product.artData[0].last_bid %></p>
                      
                      <!-- Data -->
                    </div>
      
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                      <!-- Quantity -->
                      <div class="d-flex mb-4" style="max-width: 300px">
                       
      
                        <div class="form-outline">
                          <label class="form-label" for="form1">1 Art</label>
                        </div>
      
                        
                      </div>
                      <!-- Quantity -->
      
                      <!-- Price -->
            
                      <!-- Price -->
                    </div>
                  </div>
                  <!-- Single item -->
      
                  <hr class="my-4" />

                  <% }) %>
      
                  <!-- Single item -->
                  
                </div>
              </div>
             
            </div>
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Summary</h5>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                      Item Cost
                      <span>$<%= total %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                      Shipping
                      <span>$0</span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                      <div>
                        <strong>Total amount</strong>
                        
                      </div>
                      <span><strong>$<%= total %></strong></span>
                    </li>
                  </ul>
                  <% if (cartLength > 0) { %>
                  <button type="button" class="btn btn-primary btn-lg btn-block" onclick="purchase()">
                    Go to checkout
                  </button>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script type="text/javascript">
        function dateCheck() {
            var ToDate = new Date();
            var UserDate = document.getElementById("userdate").value;
            var logged_in = document.getElementById("logged_in").value;
            var bidder = document.getElementById("bidder").value;

            console.log(bidder , logged_in)


            if (new Date(UserDate).getTime() <= ToDate.getTime()) {
                document.getElementById('bid_amount').style.display = "none"
                document.getElementById('submitBid').style.display = "none"
                document.getElementById('bidend').style.display = "block"
                if(bidder == logged_in){

                document.getElementById('addcart').style.display = "block"
                document.getElementById('buy').style.display = "block"

                }


            }
            
        }

        function success() {
	 if(document.getElementById("bid_amount").value =="") { 
            document.getElementById('submitBid').style.pointerEvents = 'none'; 
        } else { 
            document.getElementById('submitBid').style.pointerEvents = '';
        }
    }

    
function purchase(e) {


// var ToDate = new Date();
//     var form = $(this);
// // var actionUrl = form.attr('action');

// $.ajax({
//     type: "POST",
//     url: 'http://localhost:8081/purchase',
//     data : {
       
//        // will be accessible in $_POST['data1']
//     },
//     success: function(data)
//     {
//       alert('Art Purchased successfully.'); 
      window.location.assign('/checkout');
//     }
// });



}

     </script>
</body>

<%- include('layouts/footer'); -%>