<%- include('layouts/innerheader'); -%>

  <body>
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="#"></a>
        </nav>
        <hr class="mt-0 mb-4">
        <form method="post" action="/update-art" id="submitFormValidate" enctype="multipart/form-data">
            <div class="">
                <% if (errors && errors.length> 0) { %>
                    <div class="error-message">
                        <p class="error-text">
                          <%= errors[0].msg %>
                        </p>
                    </div>
                <% } %>
                <% if (success && success.length> 0) { %>
                    <div class="success-message">
                        <p class="success-text">
                            <%= success[0].msg %>
                        </p>
                    </div>
                <% } %>
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Art Image</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <% if (art[0].art.image) { %>
                            <img class="img-account-profile rounded-circle mb-2" src="/<%= art[0].art.image %>" alt="" style="
                            height: 148px;
                        ">
                        <% } else {%>
                            <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="" style="
                            height: 148px;
                        ">
                        <% } %>
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        
                        <input class="btn btn-primary inputError" type="file" name ="profile_image" multiple="multiple" accept="image/*">
                        <input  type="hidden" name = "profile_image_exist" id = "profile_image_exist" value = "<%= art[0].art.image %>">
                        <span role="alert" class="requiredError" aria-hidden="true">
                            Please upload Art Image
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Art Details</div>
                    <div class="card-body">
                        <form>
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Title</label>
                                <input id="name" placeholder="Title" type="hidden" value="<%= typeof art[0].art._id !== 'undefined' ?  art[0].art._id : '' %>" name="art_id">

                    <input id="name" placeholder="Title" type="text" class="inputError" name="title" value="<%= typeof art[0].art.title !== 'undefined' ?  art[0].art.title : '' %>" name="art_id">
                    <span role="alert" class="requiredError" aria-hidden="true">
                        Please enter Title
                    </span>
                </div>
                            
                            <!-- Form Row-->
                            
                            <!-- Form Group (email address)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Min Bid</label>
                                <input id="about-field" placeholder="Min Bid" type="text" class="inputError" name="min_bid" value="<%= typeof art[0].art.min_bid !== 'undefined' ?  art[0].art.min_bid : '' %>">
                                <span role="alert" class="requiredError" aria-hidden="true">
                                    Please enter Bid amount
                                  </span>
                    </div>
                    
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-12">
                                    <label class="small mb-1" for="inputPhone">Description</label>
                                    <textarea id="email" placeholder="Description" class="inputError" value="<%= typeof art[0].art.description !== 'undefined' ?  art[0].art.description : '' %>" type="text" name="description"><%= typeof art[0].art.description !== 'undefined' ?  art[0].art.description : '' %></textarea>
                                    <span role="alert" class="requiredError" aria-hidden="true">
                                        Please enter About
                                      </span>
                                </div>
                               
                                <!-- Form Group (birthday)-->
                               
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Start Date</label>
                                    <input id="date-field" placeholder="Start Date"class="inputError" type="date" name="start_date" value="<%= typeof art[0].art.start_date !== 'undefined' ?  art[0].art.start_date : '' %>">
                                    <span role="alert" class="requiredError" aria-hidden="true">
                                        Please enter Start Date
                                      </span>
                                </div>
                                

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Start Time</label>
                                    <input id="time-field" placeholder="Start Time" class="inputError" type="time" name="start_time" value="<%= typeof art[0].art.start_time !== 'undefined' ?  art[0].art.start_time : '' %>">
                                    <span role="alert" class="requiredError" aria-hidden="true">
                                        Please enter Start Time
                                      </span>
                                </div>
                                
                                <!-- Form Group (birthday)-->
                               
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">End Date</label>
                                    <input id="date-field" placeholder="End Date" class="inputError" type="date" name="end_date" value="<%= typeof art[0].art.end_date !== 'undefined' ?  art[0].art.end_date : '' %>">
                                    <span role="alert" class="requiredError" aria-hidden="true">
                                        Please enter End Date
                                      </span>
                                </div>
                               

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">End Time</label>
                                    <input id="time-field" placeholder="End Time" class="inputError" type="time" name="end_time" value="<%= typeof art[0].art.end_time !== 'undefined' ?  art[0].art.end_time : '' %>">
                                    <span role="alert" class="requiredError" aria-hidden="true">
                                        Please enter End Time
                                      </span>
                                </div>
                                
                                <!-- Form Group (birthday)-->
                               
                            </div>

                            
                            <!-- Save changes button-->
                            <input type="submit" value="Update" class="login-btn" onclick="validateForm(event)">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
  </body>
  <script>
    window.onload=function(){
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("end_date")[0].setAttribute('min', today);
    }
    function validateForm(e) {
        const form = document.getElementById('submitFormValidate')
        e.preventDefault();
        const userNameField = document.getElementsByClassName("inputError");
        var is_profile_image_exist = false;
        let vaClass = true;
        for (var i = 0; i < userNameField.length; i++) {
            const profile_image_exist = document.getElementById("profile_image_exist").value;
            console.log(profile_image_exist,'profile_image_exist')
            is_profile_image_exist = profile_image_exist ? true : false;
            if(i == 0 && !userNameField[i].value && !is_profile_image_exist){
                vaClass = false;
                const showRequiredErr = document.getElementsByClassName("requiredError");
                showRequiredErr[i].classList.add("visible");
                userNameField[i].classList.add("invalid");
                showRequiredErr[i].setAttribute("aria-hidden", false);
                showRequiredErr[i].setAttribute("aria-invalid", true);
            }else if (!userNameField[i].value && i != 0) {
                vaClass = false;
                const showRequiredErr = document.getElementsByClassName("requiredError");
                showRequiredErr[i].classList.add("visible");
                userNameField[i].classList.add("invalid");
                showRequiredErr[i].setAttribute("aria-hidden", false);
                showRequiredErr[i].setAttribute("aria-invalid", true);
            }else{
                const showRequiredErr = document.getElementsByClassName("requiredError");
                showRequiredErr[i].classList.remove("visible");
                userNameField[i].classList.remove("invalid");
                showRequiredErr[i].setAttribute("aria-hidden", true);
                showRequiredErr[i].setAttribute("aria-invalid", false);
                if(userNameField[i].value.length > 30 && i == 1){
                    vaClass = false;
                    document.getElementsByClassName("requiredError")[i].textContent = "Maximum 30 characters are allowed";
                    const showlengthErr = document.getElementsByClassName("requiredError");
                    showlengthErr[i].classList.add("visible");
                    userNameField[i].classList.add("invalid");
                    showlengthErr[i].setAttribute("aria-hidden", false);
                    showlengthErr[i].setAttribute("aria-invalid", true);
                }else{
                    const showlengthErr = document.getElementsByClassName("requiredError");
                    showlengthErr[i].classList.remove("visible");
                    userNameField[i].classList.remove("invalid");
                    showlengthErr[i].setAttribute("aria-hidden", true);
                    showlengthErr[i].setAttribute("aria-invalid", false);
                }
            }
        }
        
        if(vaClass){
            form.submit();
        }else{
            return false;
        }
    }
    </script>
  <%- include('layouts/footer'); -%>