<%- include('layouts/outerheader'); -%>

    <body>
        <div style="height: 100px;">
        </div>
        <div class="main-div">
            <div class="logo">
                
            </div>
        
        <% if (successCheck && successCheck.length> 0) { %>
            <form method="post" action="/forgotpassword" class="login-form">
                <div class="login-box">
                    <% if (errors && errors.length> 0) { %>
                        <div class="error-message">
                          <% for (let i=0; i < errors.length; i++) { %>
                            <p class="error-text">
                              <%= errors[i].msg %>
                            </p>
                            <% } %>
                        </div>
                        <% } %>
                    <p class="title">Change Password</p>
                    <div class="name-field">
                        
                        <input type="hidden" id="userName" placeholder="Username" name="userName"
                        value="<%= typeof successCheck[0].userName !== 'undefined' ? successCheck[0].userName : '' %>">
                    </div>
              <div class="name-field">
                
                <input id="securityQuestion" placeholder="Security Question" type="hidden" name="securityQuestion"
                    value="<%= typeof successCheck[0].securityQuestion !== 'undefined' ? successCheck[0].securityQuestion : '' %>">
            </div>
            <div class="name-field">
              
                <input id="securityAnswer" placeholder="Security Answer" type="hidden" name="securityAnswer"
                value="<%= typeof successCheck[0].securityAnswer !== 'undefined' ? successCheck[0].securityAnswer : '' %>">
          </div>
          <div class="name-field">
            <label for="user-field">
                <p>
                   New Password : 
                </p>
            </label>
            <input id="password" placeholder="password" type="text" name="password">

        </div>
        <div class="name-field">
            <label for="user-field">
                <p>
                   Confirm Password : 
                </p>
            </label>
            <input id="confirmpassword" placeholder="confirmpassword" type="text" name="confirmpassword">
        </div><br>
                   
                    <div class="login-btn-field">
                      <button class="register" type="register">Submit</button>
                    </div>
                </div>
            </form>
        <% }else { %>
            <form method="post" action="/forgotpassword-check" class="login-form">
                <div class="login-box">
                    <% if (errors && errors.length> 0) { %>
                        <div class="error-message">
                          <% for (let i=0; i < errors.length; i++) { %>
                            <p class="error-text">
                              <%= errors[i].msg %>
                            </p>
                            <% } %>
                        </div>
                        <% } %>
                    <p class="title">Forgot Password</p>
                    <div class="name-field">
                        <label for="user-field">
                            <p>
                                User Name : 
                            </p>
                        </label>
                        <input type="text" id="userName" placeholder="Username" name="userName">
                    </div>
                   
              <div class="name-field">
                <label for="user-field">
                    <p>
                        Security Question : 
                    </p>
                </label>
                <input id="securityQuestion" placeholder="Security Question" type="text" name="securityQuestion"
                      value="<%= typeof securityQuestion !== 'undefined' ? securityQuestion : '' %>">
            </div>
            <div class="name-field">
              <label for="user-field">
                  <p>
                     Security Answer : 
                  </p>
              </label>
              <input id="securityAnswer" placeholder="Security Answer" type="text" name="securityAnswer"
                      value="<%= typeof securityAnswer !== 'undefined' ? securityAnswer : '' %>">
          </div><br>
                   
                    <div class="login-btn-field">
                      <button class="register" type="register">Submit</button>
                    </div>
                </div>
            </form>
        <% } %>
        </div>
    </body>
    <%- include('layouts/footer'); -%>