<%- include('layouts/outerheader'); -%>

    <body>
        
        <% if (successCheck && successCheck.length> 0) { %>
        <form name="myform" method="post" action="/forgotpassword">

            <fieldset class="forgotpasswordform">
                <h4>Reset Password</h4>
                <div class="forgotpasswordfield">
                    <input type="hidden" id="userName" placeholder="Username" name="userName"
                    value="<%= typeof successCheck[0].userName !== 'undefined' ? successCheck[0].userName : '' %>">
                </div><br>
                <div class="Registerfield">
                    <input id="securityQuestion" placeholder="Security Question" type="hidden" name="securityQuestion"
                    value="<%= typeof successCheck[0].securityQuestion !== 'undefined' ? successCheck[0].securityQuestion : '' %>">
                </div>
                <div class="Registerfield">
                    <input id="securityAnswer" placeholder="Security Answer" type="hidden" name="securityAnswer"
                    value="<%= typeof successCheck[0].securityAnswer !== 'undefined' ? successCheck[0].securityAnswer : '' %>">
                </div>

                <!-- <div class="forgotpasswordfield">
                    <label>Date of Birth</label><br>
                    <input type="date" id="dob" placeholder="DOB" name="dob">
                </div><br> -->

                <div class="forgotpasswordfield">
                    <label>New Password</label><br>
                    <input type="password" id="password" placeholder="New Password" name="password">
                </div><br>

                <div class="forgotpasswordfield">
                    <label>Confirm New Password</label><br>
                    <input type="password" id="confirmpassword" placeholder="Confirm Password" name="confirmpassword">
                </div><br>

                <div class="resetpasswordbuttonsub">
                    <button class="pass" type="pass">Reset Password</button><br>
                </div>
                <div class="error-text">
                    <% if (errors && errors.length> 0) { %>
                        <p class="error-text">
                            <%= errors[0].msg %>
                        </p>
                        <% } %>
                </div>

            </fieldset>

        </form>
        <% }else { %>
        <form name="myform-check" method="post" action="/forgotpassword-check">

            <fieldset class="forgotpasswordform">
                <h4>Reset Password</h4>
                <div class="forgotpasswordfield">
                    <label>Username</label><br>
                    <input type="userName" id="userName" placeholder="Username" name="userName">
                </div><br>
                <div class="Registerfield">
                    <label>Security Question</label><br>
                    <input id="securityQuestion" placeholder="Security Question" type="text" name="securityQuestion"
                    value="<%= typeof securityQuestion !== 'undefined' ? securityQuestion : '' %>">
                </div>
                <div class="Registerfield">
                    <label>Security Answer</label><br>
                    <input id="securityAnswer" placeholder="Security Answer" type="text" name="securityAnswer"
                    value="<%= typeof securityAnswer !== 'undefined' ? securityAnswer : '' %>">
                </div>
                <div class="resetpasswordbuttonsub">
                    <button class="pass" type="pass">Submit</button><br>
                </div>
                <div class="error-text">
                    <% if (errors && errors.length> 0) { %>
                        <p class="error-text">
                            <%= errors[0].msg %>
                        </p>
                        <% } %>
                </div>

            </fieldset>

        </form>
        <% } %>
    </body>
    <%- include('layouts/footer'); -%>