<%- include('layouts/outerheader'); -%>

  <body>
    <div class="main-div"> 
        <div class="logo">

        </div>
       
        <form method="post" action="/update-profile" enctype="multipart/form-data" class="login-form">
            <div class="">
                <% if (errors && errors.length> 0) { %>
                    <div class="error-message">
                        <p class="error-text">
                          <%= errors[0].msg %>
                        </p>
                    </div>
                    <% } %>
                    <% if (success && success.length> 0) { %>
                        <div class="success-message">
                            <p class="success-text">
                              <%= success[0].msg %>
                            </p>
                        </div>
                        <% } %>
                <p class="title">Profile</p>
                <div class="name-field">
                    <label for="name-field">
                        <p>
                            Name : 
                        </p>
                    </label>
                    <input id="name" placeholder="Name" type="text" name="name"
                    value="<%= typeof user[0].user.name !== 'undefined' ?  user[0].user.name : '' %>">
                </div>
                <div class="email-field">
                    <label for="email-field">
                        <p>
                            Email : 
                        </p>
                    </label>
                    <input id="email" placeholder="Email" type="email" name="email"
                    value="<%= typeof user[0].user.email !== 'undefined' ?  user[0].user.email : '' %>">
                </div>
                <div class="image-field">
                    <label for="image-field">
                        <p>
                            Profile Image : 
                        </p>
                    </label>
                    <!-- <input id="profile_image" placeholder="" type="profile_image" name="profile_image" -->

 
                    <img class="logo" src="uploads/"<%= user[0].user.profile_image %> alt="My_Logo">
                    <input type="file" name="profile_image">
                    <!-- value="<%= typeof user[0].user.profile_image !== 'undefined' ?  user[0].user.profile_image : '' %>"> -->
                </div>
                <div class="about-field">
                    <label for="about-field">
                        <p>
                            About : 
                        </p>
                    </label>
                    <input id="about-field" placeholder="About" type="text" name="about"
                    value="<%= typeof user[0].user.about !== 'undefined' ?  user[0].user.about : '' %>">

                </div>
                <div class="login-btn-field">
                    <input type="submit" value="Update" class="login-btn">
                </div>
            </div>
        </form>
    </div>
  </body>

  <%- include('layouts/footer'); -%>