<%- include('layouts/outerheader'); -%>

  <body>
    <div class="main-div"> 
        <div class="logo">

        </div>
       
        <form method="post" action="/update-profile" class="login-form">
            <div class="login-box">
                <% if (errors && errors.length> 0) { %>
                    <div class="error-message">
                      <% for (let i=0; i < errors.length; i++) { %>
                        <p class="error-text">
                          <%= errors[i].msg %>
                        </p>
                        <% } %>
                    </div>
                    <% } %>
                <p class="title">Profile</p>
                <div class="email-field">
                    <label for="email-field">
                        <p>
                            Email : 
                        </p>
                    </label>
                    <input id="email" placeholder="Email" type="email" name="email"
                    value="<%= typeof user[0].user.email !== 'undefined' ?  user[0].user.email : '' %>">
                </div>
                <input id="id"  type="hidden" name="id"
                value="<%= typeof user[0].user.id !== 'undefined' ?  user[0].user.id : '' %>">
                <div class="image-field">
                    <label for="image-field">
                        <p>
                            Profile Image : 
                        </p>
                    </label>
                    <input id="profile_image" placeholder="" type="profile_image" name="profile_image"
                    value="<%= typeof user[0].user.profile_image !== 'undefined' ?  user[0].user.profile_image : '' %>">
                </div>
                <!-- <div class="password-field">
                    <label for="pass-field">
                        <p>
                            Password : 
                        </p>
                    </label>
                    <input id="pass-field" placeholder="Password" type="password" name="password">

                </div> -->
                <div class="about-field">
                    <label for="about-field">
                        <p>
                            About : 
                        </p>
                    </label>
                    <input id="about-field" placeholder="About" type="text" name="about"
                    value="<%= typeof user[0].user.about !== 'undefined' ?  user[0].user.about : '' %>">

                </div>
                <div class="login-btn-field">
                    <input type="submit" value="Login" class="login-btn">
                </div>
            </div>
        </form>
    </div>
  </body>

  <%- include('layouts/footer'); -%>