<%- include('layouts/outerheader'); -%>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card_signup">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/images/logo.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="post" action="/register" id="submitFormValidate">
                        <div><br>
                            <div class="name-field" >
                                
                              <input id="email" placeholder="Username" type="text" name="userName" class="inputError"
                              value="<%= typeof userName !== 'undefined' ? userName : '' %>">
                            </div>
                            <span role="alert" class="requiredError" aria-hidden="true">
                                Please enter Username
                            </span>
                            <div class="name-field">
                                
                              <input id="pass-field" placeholder="Email" type="email" name="email" class="inputError emailInput">
                            </div>
                            <span role="alert" class="requiredError" aria-hidden="true">
                                Please enter Email
                              </span>
                              

                              <div class="name-field">
                                
                                <input id="confirmemail" placeholder="Confirm Email" type="email" name="confirmemail" class="inputError emailInput">
                             </div>
                             <span role="alert" class="requiredError" aria-hidden="true">
                                Please enter Confirm Email
                             </span>

                              <div class="name-field">
                                
                                <input id="pass-field" placeholder="Password" type="password" name="password" class="inputError"
                                  value="<%= typeof userName !== 'undefined' ? userName : '' %>">
                               </div>
                               <span role="alert" class="requiredError" aria-hidden="true">
                                 Please enter Password
                               
                                </span>
                                <div class="name-field">
                                
                                  <input id="pass-field" placeholder="Confirm password" type="password" name="confirmpassword" class="inputError"
                                    value="<%= typeof confirmpassword !== 'undefined' ? confirmpassword : '' %>">
                                  </div>
                                  <span role="alert" class="requiredError" aria-hidden="true">
                                    Please enter Confirm Password
                                  </span>
                                  <div class="name-field">
                                
                                    <input id="securityQuestion" placeholder="Security Question" type="text" name="securityQuestion" class="inputError"
                                    value="<%= typeof securityQuestion !== 'undefined' ? securityQuestion : '' %>">
                            </div>
                            <span role="alert" class="requiredError" aria-hidden="true">
                              Please enter Security Question
                            </span>
                                    <div class="name-field">
                                
                                      <input id="securityAnswer" placeholder="Security Answer" type="text" name="securityAnswer" class="inputError"
                                      value="<%= typeof securityAnswer !== 'undefined' ? securityAnswer : '' %>">
                            </div>
                              <span role="alert" class="requiredError" aria-hidden="true">
                                Please enter security Answer
                            </span>
                               <br>       
                            <% if (errors && errors.length> 0) { %>
                                <div class="error-message">
                                  <% for (let i=0; i < errors.length; i++) { %>
                                    <p class="error-text">
                                      <%= errors[i].msg %>
                                    </p>
                                    <% } %>
                                </div>
                            <% } %>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input id="submitId" value="Register" type="submit" class="btn login_btn" onclick="validateForm(event)">
                            </div><br>
                            
                            <div class="register-field">
                                <a href="login">
                                    <p>
                                        Already Have Account? Login Here
                                    </p>
                                </a>
                            </div>
                        </div>
                    </form>
				</div>

			</div>
		</div>
	</div>
</body>
<script>
  function validateForm(e) {
      const form = document.getElementById('submitFormValidate')
      e.preventDefault();
      const userNameField = document.getElementsByClassName("inputError");
      let vaClass = true;
          for (var i = 0; i < userNameField.length; i++) {
              if (!userNameField[i].value) {
                  vaClass = false;
                  const showRequiredErr = document.getElementsByClassName("requiredError");
                  showRequiredErr[i].classList.add("visible");
                  userNameField[i].classList.add("invalid");
                  showRequiredErr[i].setAttribute("aria-hidden", false);
                  showRequiredErr[i].setAttribute("aria-invalid", true);
              }else{
                  const showRequiredErr = document.getElementsByClassName("requiredError");
                  showRequiredErr[i].classList.remove("visible");
                  userNameField[i].classList.remove("invalid");
                  showRequiredErr[i].setAttribute("aria-hidden", true);
                  showRequiredErr[i].setAttribute("aria-invalid", false);
                  if(userNameField[i].value.length > 30){
                    vaClass = false;
                    document.getElementsByClassName("requiredError")[i].textContent = "Maximum 30 characters are allowed";
                    const showlengthErr = document.getElementsByClassName("requiredError");
                    showlengthErr[i].classList.add("visible");
                    userNameField[i].classList.add("invalid");
                    showlengthErr[i].setAttribute("aria-hidden", false);
                    showlengthErr[i].setAttribute("aria-invalid", true);
                  }else{
                    if(i == 1 || i == 2){
                      let userEmail = document.getElementsByClassName('emailInput')[i-1].value;
                      let regex = new RegExp(/\S+@\S+\.\S+/);
                      let isValid = regex.test(userEmail);
                      console.log(document.getElementsByClassName('emailInput')[0].value,userEmail,'fghgfhf',isValid,i)
                      if (isValid) {
                          const showlengthErr = document.getElementsByClassName("requiredError");
                          showlengthErr[i].classList.remove("visible");
                          userNameField[i].classList.remove("invalid");
                          showlengthErr[i].setAttribute("aria-hidden", true);
                          showlengthErr[i].setAttribute("aria-invalid", false);
                      } else {
                          vaClass = false;
                          document.getElementsByClassName("requiredError")[i].textContent = i == 1 ? "Email is not a valid email address" : "Confirm Email is not a valid email address";
                          const showlengthErr = document.getElementsByClassName("requiredError");
                          showlengthErr[i].classList.add("visible");
                          userNameField[i].classList.add("invalid");
                          showlengthErr[i].setAttribute("aria-hidden", false);
                          showlengthErr[i].setAttribute("aria-invalid", true);
                      }
                    }else{
                      const showlengthErr = document.getElementsByClassName("requiredError");
                      showlengthErr[i].classList.remove("visible");
                      userNameField[i].classList.remove("invalid");
                      showlengthErr[i].setAttribute("aria-hidden", true);
                      showlengthErr[i].setAttribute("aria-invalid", false);
                    }
                  }
              }
          }
      if(vaClass){
          form.submit();
      }else{
          return false;
      }
  }
  </script>

  <%- include('layouts/footer'); -%>