<%- include('layouts/outerheader'); -%>
<body onload="document.getElementById('registerForm').reset()">

 

  

  <div style="height: 100px;">
  </div>
  <div class="main-div">
      <div class="logo">
          
      </div>
      
      <form method="post" action="/register" class="login-form">
        <div class="login-box">
            <% if (errors && errors.length> 0) { %>
                <div class="error-message">
                  <% for (let i=0; i < errors.length; i++) { %>
                    <p class="error-text">
                      <%= errors[i].msg %>
                    </p>
                    <% } %>
                </div>
                <% } %>
                <h3 class="title-heading">Register</h3>
            <div class="name-field">
                <label for="user-field">
                    <p>
                        User Name : 
                    </p>
                </label>
                <input id="email" placeholder="Username" type="text" name="userName"
                value="<%= typeof userName !== 'undefined' ? userName : '' %>">
            </div>
            <div class="name-field">
              <label for="user-field">
                  <p>
                     Email : 
                  </p>
              </label>
              <input id="pass-field" placeholder="Email" type="text" name="email">

          </div>
          <div class="name-field">
            <label for="user-field">
                <p>
                   Confirm Email : 
                </p>
            </label>
            <input id="confirmemail" placeholder="Confirm Email" type="text" name="confirmemail">

            
        </div>
          <div class="name-field">
            <label for="user-field">
                <p>
                    Password : 
                </p>
            </label>
            <input id="pass-field" placeholder="Password" type="password" name="password"
            value="<%= typeof userName !== 'undefined' ? userName : '' %>">
        </div>
        <div class="name-field">
          <label for="user-field">
              <p>
                  Confirm Password : 
              </p>
          </label>
          <input id="email" placeholder="Confirm password" type="password" name="confirmpassword"
          value="<%= typeof confirmpassword !== 'undefined' ? confirmpassword : '' %>">
      </div>
      <div class="name-field">
        <label for="user-field">
            <p>
                Security Question : 
            </p>
        </label>
        <input id="securityQuestion" placeholder="Security Question" type="text" name="securityQuestion"
              value="<%= typeof securityQuestion !== 'undefined' ? securityQuestion : '' %>">
    </div>
    <div class="name-field">
      <label for="user-field">
          <p>
             Security Answer : 
          </p>
      </label>
      <input id="securityAnswer" placeholder="Security Answer" type="text" name="securityAnswer"
              value="<%= typeof securityAnswer !== 'undefined' ? securityAnswer : '' %>">
  </div><br>
           
            <div class="login-btn-field">
              <button class="register" type="register">Create Account</button>
            </div>
        </div>
    </form>
  </div>
  <div style="height: 100px;">
  </div>
</body>
  

  <%- include('layouts/footer'); -%>